body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.result-container {
    width: 700px;
}

h1 {
    margin-bottom: 1rem;
    color: #333;
}

form {
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

button {
    padding: 0.8rem 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #0056b3;
}

.summary-box {
    margin-top: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f9f9f9;
    height: 15em; /* Height for 15 rows of text */
    width: 600px;
    overflow-y: auto;
    text-align: left;
    margin: 0 auto; /* Center align the box horizontally */
}

a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}
